<form action="/products/{{id}}" method="put">
 Current ID: {{id}} <br><input type="text" name="ID" placeholder="new ID..."><br>
 Current Name: {{name}} <br><input type="text" name="Name" placeholder="new name..."><br>
 Current Price: {{price}}<br><input type="text" name="Price" placeholder="new price..."><br>
 Current Inventory: {{inventory}}<br><input type="text" name="Inventory" placeholder="new inventory..."><br>
  <br><input type="submit" value="Submit">
</form>