<form action="/articles/{{urlTitle}}?_method=PUT" method="POST">
  <input type="hidden" name="title" value="{{title}}">
  {{title}}<br><br>
  Current Body: <br><input type="text" name="body" placeholder="{{body}}"><br>
  Current Author: <br><input type="text" name="author" placeholder="{{author}}"><br>
  <br><input type="submit" value="Submit">
</form>