<form action="/products/{{id}}?_method=PUT" method="POST">
 <input type="hidden" name="id" value="{{id}}">
 Current Name: {{name}} <br><input type="text" name="name" placeholder="new name..."><br>
 Current Price: {{price}}<br><input type="text" name="price" placeholder="new price..."><br>
 Current Inventory: {{inventory}}<br><input type="text" name="inventory" placeholder="new inventory..."><br>
  <br><input type="submit" value="Submit">
</form>